.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    margin: 0 7.5px 15px;
    position: relative;
    overflow: hidden;

    &:hover{
        cursor: pointer;

        & .background-image {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .content {
            opacity: 0.9;
        }
    }


    &.large {
        height: 380px;
    }

    &:first-child {
        margin-right: 7.5px;
    }

    &:last-child {
        margin-left: 7.5px;
    }

    .background-image {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: absolute;

    }

    .content {
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        opacity: .7;
        border: 1px solid black;

        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
            text-transform: uppercase;
        }

        .subtitle {
            font-weight: lighter;
            font-size: 16px;
        }
    }
}