body {
	font-family: "Open Sans Condensed", sans-serif;
	padding: 20px 80px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button {
	outline-color: transparent !important;
	outline: none !important;
}
